.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.small-card-image{
  height: 100px;
  width: auto;
}

.mini-card-image{
  height: 40px;
  width: auto;
}

.price-text{
  color: green;
}

.price-text-higher{
  color: green;
}

.price-text-lower{
  color: black;
}

.center-card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  width: 100%
}

/* ------------Header -------------------------*/

.header-image{
  height: 100px;
  width:auto
}

.header-main{
  background-image: url(Media/Images/header_background.jpg);
}



/*---------Home-----------------------------*/
.home-body{
  background-image: url(https://i.giphy.com/media/jlraqCNnuvyfD0jUmr/source.mp4);
}

.video-body{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

/*----------Sticky -------------------*/

.sticky-side{
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

/* ------------ Selected Items ----------------*/

.ui.card.selected-card>.content,
.ui.cards>.card.selected-card>.content {
  background-color: #999999;
}


.ui.card.selected-card {
  background-color: #999999;
}

/* ---------------Errors------------------------ */

.ui.card.error{
  background-color: #FF0000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
