.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.small-card-image{
  height: 100px;
  width: auto;
}

.mini-card-image{
  height: 40px;
  width: auto;
}

.price-text{
  color: green;
}

.ui.card.selected-card>.content,
.ui.cards>.card.selected-card>.content {
  background-color: #999999;
}

.ui.card.selected-card {
  background-color: #999999;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
